/*Propriétés CSS appliquées sur les écrans en dessous d'une hauteur de 450px*/
@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 30px;
      top: 15px;
      right: 35px;
    }
}
/*Propriétés CSS appliquées sur les écrans en dessous d'une largeur de 1280px*/
@media screen and (max-width:1024px) {
  /*Responsive index*/
  .left, .right {
    padding:40px;
  }
  .left:hover, .right:hover {
    padding:40px;
    background-color: #818181;
    box-shadow: 5px 5px 5px 5px #363636;
    color: #003972;
  }
  #apropos:hover {
    background-image: none;
  }
  #competences:hover {
    background-image: none;
  }
  #experiences:hover {
    background-image: none;
  }
  #projets:hover {
    background-image: none;
  }
  footer {
    bottom:0;
  }
  .tirets {
    display: none;
  }
  /*FIN index*/

  /*Responsive A_propos*/

  /*FIN A_propos*/

  /*Responsive Competences*/

  /*FIN Competences*/

  /*Responsive Experieneces*/
  .logoexperience {
    float: none;
    margin-bottom:10px;
  }
  .missions {
    padding-left: 10%;
  }
  /*FIN Experiences*/

  /*Responsive Projets*/
  #viewheight {
    height: auto;
  }
  .projets{
    margin: 50px;
  }
  .desc{
    height:auto;
    padding: 0 2rem;
    text-align: justify;
  }
  .desctitle{
    margin-top: 0px;
  }
  .imgprojets{
    margin-bottom: 25px;
  }
  .captureprojets{
    width: 250px;
    height:200px;
  }
  .nopadding {
    padding: 0;
  }
  #moreinfoprojets {
    padding:0;
  }
  /*FIN Projets*/
  /*Responsive Contacts*/
  form .corpsformulaire .corpsdroite {
    margin-left: 0px;
  }
  #backgroundimgleft, #backgroundimgright{
    display: none;
  }
  #contactcopyright{
    position: absolute;
    bottom:5px;
    width: 100%;
}
  /*FIN Contacts*/

  /*Responsive Mentions légales*/
  #mentionslegales h2{
    font-size: 20px;
  }
  #mentionslegales{
    padding:4rem 5%;
}
}