@font-face {
    font-family: 'Minecraft';
    src: url(../fonts/Minecraft.ttf) format('truetype');
}

body {
    background-color: whitesmoke;
    padding:0;
    margin: 0;
    font-family: 'Minecraft';
    font-weight: lighter;
}
.logo {
    float:left;
    width: 135px;
    height: 135px; 
    object-fit: fill;
    padding-left: 2.5rem;
    display: block;
}
h1 {
    text-align: center;
    font-family: 'Minecraft';
    padding-top: 5rem;
    padding-right: 10rem;
}
p {
    font-size: 1rem;
}
.Moi {
    width: 20rem;
    height: 25rem;
    border-radius: 15%;
    margin: auto;
    display: flex;
}

a , a:visited, a:hover, a:active{
    color: rgba(0,0,0,0);
}
a:link {
    text-decoration: none;
}
footer {
    background-color:#84B3D4;
    padding: 1.5rem;
    margin-top: 5rem;
}
#Titrepied {
    font-size: 1rem;
    font-family: 'Minecraft';
    text-align: center;
    padding:1.5rem;
    padding-bottom: 0;
}
#PIED ul {
    margin-top:2rem;
    padding:0;
    text-align: center;
}
#PIED li {
    display: inline;
    font-size:0.75rem;
    font-family: 'Minecraft';
    padding:1.25rem;
}
.fa-envelope {
    color: black;
}
.fa-linkedin {
    color: rgb(36, 62, 206);
}
.fa-github {
    color: black;
}
.fa-discord {
    color: rgb(53, 124, 255);
}
.fab, .fas {
    font-size:1.5rem;
    transition-duration: 0.5s;
    transition-property: all;
}
.fab:hover, .fas:hover {
    color: whitesmoke;
}