@font-face {
    font-family: 'Press2P';
    src: url(../fonts/Press2P.ttf) format('truetype');
}
* {
    margin:0;
    padding:0;
}
body {
    background-color: whitesmoke;
    font-family: 'Press2P', cursive;
    font-weight: 400;
    line-height: 2;
    color: #343434;
}
h1 {
    padding: 5rem 5rem 1.5rem 5rem;
    color: #002447;
    letter-spacing: 0.1rem;
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
}
/*Propriétés pour les titres pour effet gauche-droite*/
.presentation {
    text-align: left;
}
p {
    padding:0 5rem;
}
.quote {
    display: block;
    letter-spacing: -0.05rem;
    top: 50%;
    left: 50%;
    color: #f1f1f1;
    padding: 7rem 0 3rem 0;
    font-size: large;
    background-image: url(../images/A_propos/star.jpg);
    text-align: center;
}

.p1, .p3 {
    text-align: left;
}
.p2 {
    text-align: right;
}
.parcours {
    text-align: right;
}
.hobbies {
    text-align: left;
}

a , a:visited, a:hover, a:active{
    color: rgba(0,0,0,0);
}
a:link {
    text-decoration: none;
}
footer {
    background-color: #011c36;
    padding: 1.2rem;
    color: white;
    margin-top: 13rem;
    bottom: 0;
}
#Titrepied {
    font-size: 1rem;
    text-align: center;
    padding:1.5rem;
    padding-bottom: 0;
}
#PIED ul {
    margin-top:2rem;
    padding:0;
    text-align: center;
}
#PIED li {
    display: inline;
    font-size:0.75rem;
    margin:1.25rem;
}
.fa-envelope {
    color: #718ec5;
}
.fa-linkedin {
    color: #0e76a8;
}
.fa-github {
    color: white;
}
.fa-discord {
    color: #5865F2;
}
.fab, .fas {
    font-size:2rem;
    transition-duration: 0.5s;
    transition-property: all;
}
.fab:hover, .fas:hover {
    color: #181818;
}

/*Propriétés des images illustrant mon à propos */
.Moi {
    float: left;
    width: 15rem;
    height: 20rem;
    border-radius: 5%;
    margin:0 4rem 2rem 4rem;
    border-style: groove  double;
    border-color: #181818;
    border-width: 1rem;
    transition:all 1s;
    transform: scale(1)
}
.livres {
    float:right;
    width: 15rem;
    height:17rem;
    border-radius: 5%;
    border-style: groove double;
    border-width: 1rem;
    border-color: #181818;
    margin:0 4rem 2rem 4rem;
    filter: grayscale(1);
    transition:all 1s;
    transform: scale(1);
}
.geek {
    float:left;
    width: 15rem;
    height:20rem;
    border-radius: 5%;
    border-style: groove double;
    border-width: 1rem;
    border-color: #181818;
    margin:0 4rem 2rem 4rem;
    display: block;
    transition:all 1s;
    transform: scale(1)
}
.Moi:hover, .livres:hover, .geek:hover {
    transform: scale(1.1);
}
/*Proprités background du menu overlay*/
.overlay {
    height:0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
/*Propriété du contenu du menu overlay */
.overlay-content {
    position:relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding:10px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top:20px;
    right: 45px;
    font-size: 60px;
}
/*Propriété du bouton menu*/

/* Petite responsive du menu */
@media screen and (max-height: 450px){
    .overlay {
        overflow-y: auto;
    }
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 30px;
        top: 15px;
        right: 35px;
    }
}

/*Propriétés du topnav MENU ACCUEIL*/
#topnav ul {
    display:inline;
    position: fixed;
    background-color: #011c36;
    width: 100%;
    z-index: 1;
}
#topnav li {
    display:inline-block;
    color: #f1f1f1;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer;
}
#topnav li:hover {
    background-color: #003a70;
}
#topnav a{
    display: block;
    color: #f1f1f1;
}
#topnav li:first-child {
    cursor: pointer;
}

/*Propriétés responsive contenu */
@media screen and (max-width:1024px){
    p {
        font-size: 0.5rem;
    }
    #PIED li {
        font-size: 0.3rem;
    }
    #Titrepied {
        font-size: 0.5rem;
    }
    .fab, .fas {
        font-size: 0.75rem ;
        padding-right: 1rem;
    }
    
}