@font-face {
    font-family: 'Press2P';
    src: url(../fonts/Press2P.ttf) format('truetype');
}

body {
    background-color: whitesmoke;
    padding:0;
    margin: 0;
    font-family: 'Press2P', cursive;
    font-weight: 400;
    line-height: 1.5;
    color: #242424;
}
.logo {
    float:left;
    width: 135px;
    height: 135px; 
    object-fit: fill;
    padding-left: 2.5rem;
    padding-top: 0.5rem;
}
h1 {
    text-align: center;
    padding-top: 2rem;
    color: black;
    letter-spacing: 0.15rem;
    display: block;
}
p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0 0 0 25rem;
    text-align: justify;
}
.Moi {
    width: 15rem;
    height: 20rem;
    border-radius: 5%;
    float: left;
    margin: 0 4rem;
    display: flex;
    border-style: double;
}

a , a:visited, a:hover, a:active{
    color: rgba(0,0,0,0);
}
a:link {
    text-decoration: none;
}
footer {
    background-color: #181818;
    padding: 1.2rem;
    margin-top: 5rem;
    color: white;
}
#Titrepied {
    font-size: 1rem;
    text-align: center;
    padding:1.5rem;
    padding-bottom: 0;
}
#PIED ul {
    margin-top:2rem;
    padding:0;
    text-align: center;
}
#PIED li {
    display: inline;
    font-size:0.75rem;
    margin:1.25rem;
}

.fa-envelope {
    color: #718ec5;
}
.fa-linkedin {
    color: #0e76a8;
}
.fa-github {
    color: white;
}
.fa-discord {
    color: #5865F2;
}
.fab, .fas {
    font-size:2rem;
    transition-duration: 0.5s;
    transition-property: all;
}
.fab:hover, .fas:hover {
    color: darkslategrey;
}
#nav ul{
    text-align: center;
    background-color: #181818;
    color: white;
    margin: 0.2rem 15rem;
    border-radius: 1rem;
}
#nav ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
    padding:2rem ;
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: larger;

}