/*Ajout des polices à utiliser*/
@font-face {
    font-family: 'GameofS';
    src: url(../fonts/Game\ Of\ Squids.ttf) format('truetype');
}

@font-face {
    font-family: 'Minecraft';
    src: url(../fonts/Minecraft.ttf) format('truetype');
}

/*Modification apportés pour le contenu HTML*/

.logo {
    float:left;
    width: 180px;
    height: 180px; 
    margin-left: 2.5%;
    margin-top: 2rem;
    object-fit: fill;
    transition-property: inherit;
    transform: rotate(0deg);
    transition-duration: 2.5s ;
}

.imgpc {
    float: right;
    width: 150px;
    height: 175px; 
    margin-right: 2.5%;
    object-fit: cover;
    transition-property: inherit;
    transform: rotate(0deg);
    transition-duration: 2.5s ;
}

/*Effets que quand la souris sera sur l'image ou le logo, ces images feront une rotation*/
.imgpc:hover{
    transform:rotate(-720deg);
}

.logo:hover {
    transform:rotate(720deg);
}


body {
    background-color: #EFF3F6;
}

h1 {
    text-align: center;
    width: 100%;
    font-family: 'Minecraft';
    font-size: 3rem;
    word-spacing: 1rem;
    letter-spacing: .5rem;
}

#portf {
    text-align: center;
    font-family: 'Minecraft';
    width: 100%;
    font-size: 2.50em;
}

#MENU {
    display: flex ;
    writing-mode: vertical-lr;
    text-orientation: upright;
    flex-direction: column;
}

#MENU li {
    font-size: 2.35rem;
    font-family: 'GameofS';
    list-style-type: none;
    height: 45rem;
    border-radius: 1rem;
    margin-bottom: 5rem;
}

.first{
    text-align: left;
    background-color:#BFCEDC ;
    padding: 5rem;
    margin-right: 20%;
    box-shadow: 10px 5px 5px #003972;
    transform:scale(1);
    transition-property: transform;
    transition-duration: 1s;
}

/*Animation lorsque le menu sera pointé par la souris*/
.first:hover, .second:hover, .third:hover, .fourth:hover{
    transform: scale(1.15);
}

.second {
    text-align: right;
    background-color:#DAE8F2 ;
    padding: 5rem;
    margin-right: 20%;
    box-shadow: 10px 5px 5px #003972;
    transform:scale(1);
    transition-property: transform;
    transition-duration: 1s;
}

.third {
    text-align: left;
    background-color:#BFCEDC ;
    padding: 5rem;
    margin-right: 20%;
    box-shadow: 10px 5px 5px #003972;
    transform:scale(1);
    transition-property: transform;
    transition-duration: 1s;
}

/*Pas de margin-right pour le dernier bloc car nous voudrions center le menu au centre de la page */
.fourth{
    text-align: right;
    background-color:#DAE8F2 ;
    padding: 5rem;
    box-shadow: 10px 5px 5px #003972;
    transform:scale(1);
    transition-property: transform;
    transition-duration: 1s;
}

a , a:visited a:hover, a:active{
    color: #003972;
}

a:link {
    text-decoration: none;
}

footer {
    text-align: center;
    background: 100% #84B3D4;
    padding: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

footer p {
    font-weight: bolder;
    font-size: 1.5rem;
}

.contact {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 100px;
}

.discord {
    margin-right: 0px;
}



