/*Ajout des polices à utiliser*/
@font-face {
    font-family: 'GameofS';
    src: url(../fonts/Game\ Of\ Squids.ttf) format('truetype');
}

@font-face {
    font-family: 'Minecraft';
    src: url(../fonts/Minecraft.ttf) format('truetype');
}

/*Modification apportés pour le contenu HTML*/

#container ul {
    display: flex;
    writing-mode: vertical-lr;
    text-orientation: upright;
    flex-direction: column;
    flex: auto;
}

.first{
    text-align: right;
    background-color:#BFCEDC ;
}

.second {
    text-align: left;
    background-color:#DAE8F2 ;
}

.menu {
    font-size: 3em;
    font-family: 'GameofS';
    cursor: pointer;
    list-style-type: none;
    padding: 1.85em 2em;
    height: 800px;
}

a , a:visited a:hover, a:active{
    color: #003972;
}

a:link {
    text-decoration: none;
}

img {
    float:left;
    width: 200px;
    height: 200px; 
    margin-left: 2.5%;
}

h1 {
    text-align: center;
    width: 100%;
    font-family: 'Minecraft';
    font-size: 3.5em;
}


#Portfolio {
    text-align: center;
    width: 100%;
    font-family: 'Minecraft';
    font-size: 2.5em;
}

body {
    background-color: #EFF3F6;
}

#propos {
    right: 10%;
}

.contact {
    list-style-type: none;
    padding: 1em;
}

footer {
    font-family: 'Minecraft';
    background-color:#84B3D4;
}

