/*Ajout des polices à utiliser*/
@font-face {
    font-family: 'GameofS';
    src: url(../fonts/Game\ Of\ Squids.ttf) format('truetype');
}

@font-face {
    font-family: 'Minecraft';
    src: url(../fonts/Minecraft.ttf) format('truetype');
}

/*Modification apportés pour le contenu HTML*/

.logo {
    float:left;
    width: 200px;
    height: 200px; 
    margin-left: 2.5%;
    margin-top: 2rem;
}

.imgpc {
    float: right;
    width: 200px;
    height: 200px; 
    margin-right: 2.5%;
}

body {
    background-color: #EFF3F6;
}

h1 {
    text-align: center;
    width: 100%;
    font-family: 'Minecraft';
    font-size: 3.5em;
}

#portf {
    text-align: center;
    font-family: 'Minecraft';
    width: 100%;
    font-size: 2.80em;
}
#MENU {
    display: flex ;
    writing-mode: vertical-lr;
    text-orientation: upright;
    flex-direction: column;
}

.first{
    text-align: right;
    background-color:#BFCEDC ;
    padding: 1.85em 2em;
    margin-right: 20%;
    box-shadow: 10px 5px 5px #003972;

}

.second {
    text-align: left;
    background-color:#DAE8F2 ;
    padding: 1.85em 2em;
    margin-right: 20%;
    box-shadow: 10px 5px 5px #003972;
}

.third {
    text-align: right;
    background-color:#BFCEDC ;
    padding: 1.85em 2em;
    margin-right: 20%;
    box-shadow: 10px 5px 5px #003972;
}

.fourth{
    text-align: left;
    background-color:#DAE8F2 ;
    padding: 1.85em 2em;
    box-shadow: 10px 5px 5px #003972;
}

#MENU li {
    font-size: 2.5em;
    font-family: 'GameofS';
    list-style-type: none;
    height: 780px;
    border-radius: 1em;
}

a , a:visited a:hover, a:active{
    color: #003972;
}

a:link {
    text-decoration: none;
}

footer {
    font-family: 'Minecraft';
    background-color:#84B3D4;
}

#PIED {
    display: flex;
    text-align: center;
}

.contact {
    list-style-type: none;
    padding: 1em;
    margin: 10px;
    display: inline;
    text-align: center;
}


