@font-face {
    font-family: 'Press2P';
    src: url(../fonts/Press2P.ttf) format('truetype');
}
@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 30px;
      top: 15px;
      right: 35px;
    }
  }

* {
    margin:0;
    padding:0;
}
body {
    background-color: whitesmoke;
    font-family: 'Press2P', cursive;
    font-weight: 400;
    line-height: 2;
    color: #343434;
}
a , a:visited, a:hover, a:active{
    color: rgba(0,0,0,0);
}
a:link {
    text-decoration: none;
}
.overlay {
    height:0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    left:0;
    top:0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position:relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding:10px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top:20px;
    right: 45px;
    font-size: 60px;
}

#topnav ul {
    display:inline;
    position: fixed;
    background-color: #011c36;
    width: 100%;
    z-index:1;
}
#topnav li {
    display:inline-block;
    color: #f1f1f1;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 1.1rem;
}
#topnav li:hover {
    background-color:#003a70;
}
#topnav a{
    display: block;
    color: #f1f1f1;
}
#topnav li:first-child {
    cursor: pointer;
}
footer {
    background-color: #011c36;
    padding: 1.2rem;
    color: white;
    margin-top: 13rem;
    bottom: 0;
}
#Titrepied {
    font-size: 1rem;
    text-align: center;
    padding:1.5rem;
    padding-bottom: 0;
}
#PIED ul {
    margin-top:2rem;
    padding:0;
    text-align: center;
}
#PIED li {
    display: inline;
    font-size:0.75rem;
    margin:1.25rem;
}
.fa-envelope {
    color: #718ec5;
}
.fa-linkedin {
    color: #0e76a8;
}
.fa-github {
    color: white;
}
.fa-discord {
    color: #5865F2;
}
.fab, .fas {
    font-size:2rem;
    transition-duration: 0.5s;
    transition-property: all;
}
.fab:hover, .fas:hover {
    color: #181818;
}
h1 {
    padding: 7rem 0 4rem 0;
    background-image: url(../images/Competences/electronics.jpg);
    background-size: contain;
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    letter-spacing: 0.5rem;
}
.intro {
    padding: 4rem 4rem 0 4rem;
    text-align: center;
}
h2 {
    border-bottom: 1px solid #5e5c5c;
    font-weight: 300;
    padding-top: 2rem;
    padding-left: 6rem;
}
.AdminLinux, .AdminWindows, .Réseaux, .Virtualisation {
    padding: 2rem 4rem;
}
.AdminLinux :not(h2), .AdminWindows :not(h2), .Réseaux :not(h2), .Virtualisation :not(h2){
    width: 40%;
    height: 400px;
    display: inline-flex;
    flex-direction: column;
    border: 2px solid #848484 ;
    box-sizing: border-box;
    padding:2rem 1rem ;
    font-size: 1.1rem;
    position: relative;
    margin-top: 3rem;
    text-align: center;
    transform: scale(1);
    transition-property: all;
    transition-duration: 0.5s;
    background-color: #3a4852;
    color: #eeebeb;
    justify-items: auto;
}
#DNS {
    margin-right: 4rem;
    background-image: url(../images/Competences/logo_linux.png);
    background-position-y: 95%;
    background-size: 100px 150px;
    background-repeat: no-repeat;
    background-position-x: 95%;

}
#SrvWeb {
    background-image: url(../images/Competences/SrvWeb.png);
    background-size: 110px 150px;
    background-repeat: no-repeat;
    background-position-y: 90%;
    background-position-x: 95%; 
}
#AD{
    margin-right: 4rem;
    background-image: url(../images/Competences/ActiveDIrectory.png);
    background-position-y: 90%;
    background-size: 100px 150px;
    background-repeat: no-repeat;
    background-position-x: 95%;
}
#RAID{
    background-image: url(../images/Competences/raid.png);
    background-position-y: 90%;
    background-size: 100px 150px;
    background-repeat: no-repeat;
    background-position-x: 95%;
}
#FreeNAS{
    margin-right: 4rem;
    background-image: url(../images/Competences/NAS.png);
    background-position-y: 95%;
    background-size: 100px 150px;
    background-repeat: no-repeat;
    background-position-x: 95%;
}
#ESXi{
    background-image: url(../images/Competences/VMWare.png);
    background-position-y: 90%;
    background-size: 100px 150px;
    background-repeat: no-repeat;
    background-position-x: 95%;
}
.AdminLinux :not(h2):hover, .AdminWindows :not(h2):hover, .Réseaux :not(h2):hover, .Virtualisation :not(h2):hover{
    transform: scale(1.06);
    cursor: pointer;
    background-color: #1e262b;
}
