/*Ajout des polices à utiliser*/
@font-face {
    font-family: 'Minecraft';
    src: url(../fonts/Minecraft.ttf) format('truetype');
}

/*Modification apportés pour le contenu HTML*/
.logo {
    float:left;
    width: 135px;
    height: 135px; 
    margin-left: 2.5rem;
    margin-top: 2rem;
    object-fit: fill;
}
.imgpc {
    float: right;
    width: 100px;
    height: 120px; 
    margin-right:3rem;
    object-fit: cover;
}

body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    font-family: 'Minecraft';
    font-size: 2.5rem;
    word-spacing: 1rem;
    letter-spacing: .5rem;
    font-style: italic;
    font-weight:100;
}
#portf {
    text-align: center;
    font-family: 'Minecraft';
    font-size: 1.5rem;
    word-spacing: .25rem;
    letter-spacing: .15rem;
    margin-bottom: 4.5rem;
    padding:0;
}
#MENU ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
#MENU li {
    display: inline-block;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Minecraft';
    font-size: 2rem;
    letter-spacing: 0.5rem;
    height: 45rem;
    border-radius: 1rem;
    max-width: 100%;
}
#MENU a {
    text-align: center;
    display: inline;
    padding: 0 3.5rem;
    color: #003972;
}
.first{
    text-align: left;
    color: #003972;
    background-color:#BFCEDC ;
    background-image: none;
    padding: 5.25rem;
    box-shadow: 10px 5px 5px #003972;
    transition-property: all;
    transition-duration: 1.75s;
}
.second {
    text-align: right;
    background-color:#DAE8F2 ;
    background-image: none;
    padding: 5.25rem;
    box-shadow: 10px 5px 5px #003972;
    transition-property: all;
    transition-duration: 1.75s;
}
.third {
    text-align: left;
    background-color:#BFCEDC ;
    background-image: none;
    padding: 5.25rem;
    box-shadow: 10px 5px 5px #003972;
    transition-property: all;
    transition-duration: 1.75s;
}
.fourth{
    text-align: right;
    background-color:#DAE8F2 ;
    background-image: none;
    padding: 5.25rem;
    box-shadow: 10px 5px 5px #003972;
    transition-property:all;
    transition-duration: 1.75s;
}
.first:hover, .second:hover, .third:hover, .fourth:hover{
    padding-right:10rem;
    padding-left:7rem;
    background-color: #EFF3F6;
    box-shadow: none;
    background-size: cover;
    background-position:center;
    background-clip: padding-box;
    color: rgba(0, 0, 0, 0)
}
.first:hover {
    background-image: url(../images/menu/a_propos.jpg);
}
.second:hover {
    background-image: url(../images/menu/competences.jpg);
}
.third:hover {
    background-image: url(../images/menu/experiences.jpg);
}
.fourth:hover {
    background-image: url(../images/menu/projets.jpg);
}
a , a:visited, a:hover, a:active{
    color: rgba(0, 0, 0, 0);
}
a:link {
    text-decoration: none;
}

footer {
    background-color:#84B3D4;
    padding: 1.5rem;
    margin-top: 5rem;
}
#Titrepied {
    font-size: 1rem;
    font-family: 'Minecraft';
    text-align: center;
    padding:1.5rem;
    padding-bottom: 0;
}
#PIED ul {
    margin-top:2rem;
    padding:0;
    text-align: center;
}
#PIED li {
    display: inline;
    font-size:0.75rem;
    font-family: 'Minecraft';
    padding:1.25rem;
}
.fa-envelope {
    color: black;
}
.fa-linkedin {
    color: rgb(36, 62, 206);
}
.fa-github {
    color: black;
}
.fa-discord {
    color: rgb(53, 124, 255);
}
.fab, .fas {
    font-size:1.5rem;
    transition-duration: 0.5s;
    transition-property: all;
}
.fab:hover, .fas:hover {
    color: whitesmoke;
}