/*Ajout des polices à utiliser*/
@font-face {
    font-family: 'Press2P';
    src: url(../fonts/Press2P.ttf) format('truetype');
}

/*Modification apportés pour le contenu HTML*/
/*html {
    cursor: url(../cursors/cursor.cur), pointer;
}*/
* {
    margin: 0;
    padding: 0;
}
.logo {
    float:left;
    width: 135px;
    height: 135px; 
    padding-left: 2.5rem;
    object-fit: fill;
    padding-top: 1.5rem;
}
.imgpc {
    float: right;
    width: 135px;
    height: 135px; 
    padding-right:2.5rem;
    padding-top: 1.5rem;
    object-fit: cover;
}

body {
    background-color: whitesmoke;
    font-family: 'Press2P', cursive;
}
h1 {
    text-align: center;
    font-size: 2.5rem;
    word-spacing: 1rem;
    letter-spacing: .5rem;
    font-style: italic;
    font-weight:100;
    padding-top: 4.5rem;
    padding-bottom: 2rem;
}
#portf {
    text-align: center;
    font-size: 1.5rem;
    word-spacing: .25rem;
    letter-spacing: .15rem;
    margin-bottom: 4.5rem;
    padding:0;
}
#MENU ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
#MENU li {
    display: inline-block;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    height:45rem;
    border-radius: 1rem;
}
#MENU a {
    text-align: center;
    display: inline;
    padding: 0 3.5rem;
    color: #003972;
}
.first{
    text-align: left;
    color: #003972;
    background-color:#BFCEDC ;
    background-image: none;
    padding: 5.25rem;
    box-shadow: 10px 7px 7px #003972;
    transition-property: all;
    transition-duration: 1.5s;
}
.second {
    text-align: right;
    background-color:#DAE8F2 ;
    background-image: none;
    padding: 5.25rem;
    box-shadow: 10px 7px 7px #003972;
    transition-property: all;
    transition-duration: 1.5s;
}
.third {
    text-align: left;
    background-color:#BFCEDC ;
    background-image: none;
    padding: 5.25rem;
    box-shadow: 10px 7px 7px #003972;
    transition-property: all;
    transition-duration: 1.5s;
}
.fourth{
    text-align: right;
    background-color:#DAE8F2 ;
    background-image: none;
    padding: 5.25rem;
    box-shadow: 10px 7px 7px #003972;
    transition-property:all;
    transition-duration: 1.5s;
}
/*Effets pour augmenter la taille du menu pendant le hover et y mettre les images pour respecter le plus possible la charte*/
.first:hover, .second:hover, .third:hover, .fourth:hover{
    padding-right:10rem;
    padding-left:7rem;
    background-color: #EFF3F6;
    box-shadow: 5px 5px 5px 5px #363636;
    background-size: cover;
    background-position:center;
    background-clip: padding-box;
    color: rgba(0, 0, 0, 0)
}
.first:hover {
    background-image: url(../images/menu/a_propos.jpg);
}
.second:hover {
    background-image: url(../images/menu/competences.jpg);
}
.third:hover {
    background-image: url(../images/menu/experiences.jpg);
}
.fourth:hover {
    background-image: url(../images/menu/projets.jpg);
}
a , a:visited, a:hover, a:active{
    color: rgba(0, 0, 0, 0);
}
a:link {
    text-decoration: none;
}

/*Effets pour le pied de page Contact */
footer {
    background-color: #011c36;
    padding: 1.2rem;
    margin-top: 5rem;
    color: white;
}
#Titrepied {
    font-size: 1rem;
    text-align: center;
    padding:1.5rem;
    padding-bottom: 0;
}
#PIED ul {
    margin-top:2rem;
    padding:0;
    text-align: center;
}
#PIED li {
    display: inline;
    font-size:0.75rem;
    margin:1.25rem;
}

.fa-envelope {
    color:#718ec5;
}
.fa-linkedin {
    color: #0e76a8;
}
.fa-github {
    color: white;
}
.fa-discord {
    color: #5865F2;
}
.fab, .fas {
    font-size:2rem;
    transition-duration: 0.5s;
    transition-property: all;
}
.fab:hover, .fas:hover {
    color: darkslategrey;
}
