@font-face {
    font-family:'Friedrich';
    src: url(../fonts/Friedrich-Condensed.ttf) format('truetype'); ;

    font-family: 'Adventure';
    src:url(../fonts/Adventure.otf) format('opentype'); ;

    font-family: 'GameofSquids';
    src: url(../fonts/Game\ Of\ Squids.ttf) format('truetype'); ;
}

.menu {
    text-align: right;
}

div ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    background-color:#DAE8F2;
}

div li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 40px;
    border-right: 1px solid gray;
    text-align: center;
    line-height: 40px;
    color: aliceblue;
    font-family: 'Adventure';
}

.logoWR {
    position:; 
}
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#accroche {
    text-align: center;
    font-family: fantasy;
}

h2 {
    word-spacing: 80%;
    font-family: 'GameofSquids';
    background-color: #6C7D8C;
}

h3{
    font-family: 'Friedrich';
}

h3 p {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}


footer {
    font-family: 'Courier New', Courier, monospace;
    background-color:#238DC2;
    text-align: center;
}