@font-face {
    font-family:'Friedrich';
    src: url(../fonts/Friedrich-Condensed.ttf) format('truetype'); ;

    font-family: 'Adventure';
    src:url(../fonts/Adventure.otf) format('opentype'); ;

    font-family: 'GameofSquids';
    src: url(../fonts/Game\ Of\ Squids.ttf) format('truetype'); ;
}

body{
    background-image: url(../images/emoji_sysadmin.png);
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#accroche {
    text-align: center;
    font-family: fantasy;
}

h2 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    word-spacing: 80%;
    font-family: 'GameofSquids'
}

#propos {
    background-color: aqua;
}

#parcours {
    background-color: blue;
}

#experiences {
    background-color: blueviolet;
}

#competences {
    background-color: brown;
}

#projets {
    background-color: cadetblue;
}

h3{
    font-family: 'Friedrich';
}
footer {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
    text-align: center;
}