@font-face {
    font-family:'Friedrich';
    src: url(../fonts/Friedrich-Condensed.ttf) format('truetype'); ;

    font-family: 'Adventure';
    src:url(../fonts/Adventure.otf) format('opentype'); ;
}

body {
    font-family: 'Adventure';
    background-color: #0c2f4e;
}

h1 {
    text-align: center;
    color: azure;
}

#accroche {
    text-align: center;
    font-family: fantasy;
}

h2 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    word-spacing: 100%;
    color: azure;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
    text-align: center;
}