/* Scroll behavior */
html {
  scroll-behavior: smooth;
}
/* Shadow options*/
.textshadow {
  text-shadow: 2px 2px 3px rgb(10, 29, 71);

}
/*Cursor animation*/
.terminal-line-cursor-effect::after {
  content: "_";
  animation: animate 1s linear infinite;
  font-weight: 800;
  font-size: x-large;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

#mainpage{
  min-height: 100vh;
}
/* Banner properties */
#banner {
  min-height: 100vh;
  background-image: url("assets/img/banner.jpg"); /* set background image */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
}

.particles-js-canvas-el {
  position: absolute;
}

.project:hover > .project-content > p {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.project:hover > .project-content > img {
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

.project:hover > .project-link {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}