/* Import Cascadia fonts */
@font-face {
    font-family: "Cascadia";
    src: url(../assets/fonts/Cascadia.ttf);
}
* {
    background-color: black;
    color: #1cd70f;
    font-family: "Cascadia";
}
h1{
    text-align: center;
    font-size: 40px;
}
h2{
    font-weight: 200;
    text-align: center;
}